*{
  margin: 0;
  padding: 0;
}
.content{
  padding: 30px;
}
.heading{
  text-align: center;
  padding: 1em;

}
.cimg{
  padding: 1em;
  display: flex;
}
.para .ul .li{
  width: 50%;
  margin-left: 20px;
  padding: 20px;
  display: flex;
}
#btnSpeak{
  background: #827ffe;
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  width: 20%;
}
#voiceList{
  width: 70%;
  height:70px;
  position: absolute;
  padding: 15px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ebeef1;
  border: 0px;
}
#txtInput {
  width: 70%;
  height:70px;
  position: absolute;
  padding: 15px 40px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 12px;
  border-radius: 10px;
  background: #ebeef1;
  border: 0px;
}
.Img{
  padding: 20px;
  position: ;
  right: 20px;
  height: 240px;
}
#sidebar {
  position: absolute;
  top: 100px;
  right: -200px;
  width: 200px;
  height: 100%;
  background: #151719;
  transition: all 300ms linear;
}

#sidebar.active {
  right: 0px;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 220px;
  top: 10px;
}

#sidebar div.list .item {
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  color: #fcfcfc;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

#sidebar div.list .item:hover{
  color: #ff6600;
  background: #444;
  transition: all 0.2s ease;
}
.menu-icon {
  position: absolute;
  top: 65px;
  right: 50px;
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
  background-color: black;
  border-radius: 50%
}
